header
  background rgba($headfoot-primary, .9)  
  color #ffffff  
  
.collapse
    justify-content center	
    
.active    
	background-color rgba($headfoot-primary, .9) 	

.navbar-dark .nav-item > .nav-link.active  
    color white
	
.mypadding
	padding-top 0
	padding-bottom 0
	
.nav-item 
	a
		font-weight 400
		font-size 18px
		&:hover			
			transition .5s
			font-weight 400		
			
	